/* General Styles */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	}

/* Top Bar (Email - Phone - Schedule) */
.top-bar {
	color: #4E4B66;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #DADADA;
	height: 21px;
	}

.contact-info {
	display: flex;
	gap: 24px;
	}

.social-media-icons {
	display: flex;
	gap: 16px;
	}

/* Barra de navegación */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 48px;
	}

nav .logo {
	display: flex;
	align-items: center;
	}

nav .logo h1 {
	font-weight: 1000;
	font-size: 28px;
	margin: 0;
	}

nav .logo img {
	height: 48px;
	margin-right: 10px;
	}

nav .nav-links-container {
	align-items: center;
	}

nav .nav-links {
	list-style: none;
	display: flex;
	margin: 0;
	align-items: center;
	padding: 0;
	}

nav .nav-links li {
	margin: 0 15px;
	}

nav .nav-links a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	}

nav .join-button {
	background-color: #F41E1E;
	color: #FFFFFF;
	border: none;
	height: 46px;
	width: 165px;
	}

/* Sección principal */
.hero-section {
	position: relative;
	overflow: hidden;
	background-image: url('https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-hero.png');
	background-size: cover;
	background-position: center;
	height: calc(100vh - 126px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	}

.hero-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	}

.hero-section > * {
	position: relative;
	z-index: 2;
	}

.hero-section .hero-content {
	max-width: 700px;
	padding: 20px;
	}

.hero-section .subheading {
	font-size: 16px;
	color: #FF4136;
	}

.hero-section h2 {
	font-size: 84px;
	margin-top: 0;
	margin-bottom: 0;
	}

.hero-section .description {
	font-size: 1.2rem;
	margin-bottom: 30px;
	}

.hero-section .btn-primary {
	background-color: #FF4136;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 1.2rem;
	}

/* Footer */
footer {
	background-color: #f8f8f8;
	text-align: center;
	position: relative;
	}

footer img {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;
	}

/* MEDIA QUERIES PC-XL 1920 X 990 */
@media (min-width: 1920px) {
	.top-bar {
		padding: 12px 60px;
		}

	nav {
		padding: 16px 60px;
		}

	}

/* MEDIA QUERIES PC 1024 X 990 */

@media (min-width: 768px) {
	.top-bar {
		padding: 12px 40px;
		}

	nav {
		padding: 16px 40px;
		}

	}

/* MEDIA QUERIES TABLETS 768 X 990 */

@media (max-width: 767px) {
	.top-bar {
		padding: 12px 32px;
		}

	.top-bar .contact-info .email{
		display: none;
		}

	nav {
		padding: 16px 32px;
		}

	nav .logo {
		vertical-align: center;
		}

	nav .nav-links {
		display: none;
		}

	.hero-section h2 {
		font-size: 62px;
		}
	}

/* MEDIA QUERIES CELULARES 360 x 812 */
@media (max-width: 767px) {

	.top-bar {
		padding: 16px;
		}

	.top-bar .contact-info .email{
		display: none;
		}
	.top-bar .contact-info .schedule{
		display: none;
		}

	nav {
		flex-direction: column;
		padding: 10px 20px;
		}

	nav .nav-links-container {
		display: none;
		}


	.hero-section {
		height: calc(100vh - 50px);
		padding: 0 20px;
		}

	.hero-section h2 {
		font-size: 49px;
		}

	.hero-section .hero-content {
		padding: 10px;
		}

	.hero-section h2 {
		font-size: 2.5rem;
		}

	.hero-section .description {
		font-size: 1rem;
		}

	.hero-section .btn-primary {
		padding: 10px 20px;
		font-size: 1rem;
		}

	}
